{% extends 'base.html.twig' %}

{% block title %}
  Dashboard
{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center text-muted">
      Bienvenue
      <strong class="text-dark">
        {{ app.user.lastname }}
        {{ app.user.firstname }}
      </strong>
    </h1><br />
    <h5 class="text-center text-muted">Vous etes administrateur</h5>

    <hr />
    <h3>Mes membres</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Inscription</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.lastname }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.createdAt|date('d-m-y') }}</td>
            <td>
              <a class="btn btn-danger m-2" href="{{ path('app_remove_user', { id: user.id }) }}">Supprimer</a> | <a class="btn btn-warning m-2" href="{{ path('app_update_user', { id: user.id }) }}">Modifier</a>
            </td>
          </tr>
          {# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Suppression d'utilisateur</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Voulez-vous supprimer {{ user.lastname }} {{ user.firstname }}</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                  <a href="{{ path('app_remove_user', { id: user.id }) }}" type="button" class="btn btn-primary">Oui</a>
                </div>
              </div>
            </div>
          </div> #}
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
