{% extends 'base.html.twig' %}

{% block title %}
  Dashboard
{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center text-muted">
      Bienvenue
      <strong class="text-dark">
        {{ app.user.lastname }}
        {{ app.user.firstname }}
      </strong>
    </h1><br />
    <h5 class="text-center text-muted">Vous etes administrateur</h5>

    <hr />
    <h3>Mes membres</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Inscription</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">1</th>
            <td>{{ user.lastname }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.createdAt|date('d-m-y') }}</td>
            <td>
              {# {% if app.user and app.user.fullname == singleUser.id %} #}
              <a class="btn btn-danger m-2" href="{{ path('app_remove_user') }}" data-bs-toggle="modal" data-bs-target="#exampleModal">Supprimer</a> | <a class="btn btn-warning m-2" href="">Modifier</a>
              {# {% endif %} #}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
