{% extends 'base.html.twig' %}

{% block title %}
  Modification de l'utilisateur
{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center text-muted">Modification utilisateur</h1>

    <div class="col-md-6 mx-auto">
      {{ form_start(form) }}
      {{ form_row(form.lastname) }}
      {{ form_row(form.firstname) }}
      {{ form_row(form.email) }}
      {% if is_granted('ROLE_USER') %}
        {{ form_row(form.password) }}
      {% endif %}
      {{ form_row(form.avatar) }}
      {{ form_end(form) }}
    </div>
  </section>
{% endblock %}
