{% extends 'base.html.twig' %}

{% block title %}Modification de l'utilisateur{% endblock %}

{% block body %}
<section>
<h1 class="text-center text-muted">Modification de {{singleUser.firstname}}</h1>

<div class="col-md-4 mx-auto">
    {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {% if app.user and app.user.email == singleUser.email %}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {% else %}
        {{ form_row(form.password.first,{'attr': {'disabled': 'true'}}) }}
        {{ form_row(form.password.second,{'attr': {'disabled': 'true'}}) }}
        {% endif %}
    {{ form_end(form) }}
</div>

</section>
{% endblock %}